<div>
  <h3>Please enter your name!</h3>
  <form name="myForm" novalidate>
    <input type="text"
           name="userName"
           ng-model="username"
           required
           ng-minlength="3"
           ng-maxlength="10">

    <button class="btn btn-primary btn-sm" ng-click="enter()">Enter</button>

    <div ng-messages="myForm.userName.$error"
         style="color:red"
         role="alert"
         ng-if="submitted">
    <div ng-message="required">Name cannot be blank</div>
    <div ng-message="minlength">Name has to be more than 3 letters</div>
    <div ng-message="maxlength">Name has to be less than 10 letters</div>
  </div>
  </form>

</div>
